@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(244, 244, 247);
  font-family: "Poppins", sans-serif;
}

.displayInput {
  word-break: break-word;
  white-space: pre-line;
}

.animationActive {
  opacity: 1;
  transition: 0.4s;
}

.animationUnactive {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  vertical-align: baseline;
}
